* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  position: relative;
  height: 100%;
  margin: 0;
}

/** Main font styling **/

/* Raleway Font - Regular 400 */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/* Glacial Indifference Font */
@font-face {
  font-family: GlacialIndifference;
  src: url(GlacialIndifference-Bold.otf);
  font-weight: bold;
}

h1 {
  font-family: GlacialIndifference;
  font-size: 32px;
}

h2 {
  font-family: GlacialIndifference;
}

h3 {
  font-family: GlacialIndifference;
}

p {
  font-family: "Raleway", sans-serif;
}

a {
  font-family: "Raleway", sans-serif;
}

/** navigation bar **/
/**               **/
/**              **/

.logonav {
  width: 100%;
}
nav {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  background: #fafafa;
}

/* nav link list styling */
nav ul {
  text-align: center;
  list-style: none;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: black;
  margin: 0 10px;
  font-size: 22px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.3s;
}
nav ul li a:hover {
  color: #555;
}

/* nav bar animation on hover */
/* underneath line (stroke) and color fill (fill) */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/** ABOUT.HTML PAGE **/
/**                 **/
/**                 **/

/* overlap image + what-is-urban-farming? section */
section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f1;
}
.container {
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* left side - image styling */
.left {
  width: 50%;
  height: 600px;
  background: url("../img/water-garden.jpg") no-repeat center / cover;
  border-radius: 8px;
}
/* right side - div container & text styling */
.right {
  width: 55%;
  min-height: 500px;
  background-color: #205237;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: #fafafa;
  margin-left: -150px;
}
.right h1 {
  font-family: GlacialIndifference;
  font-size: 40px;
  font-weight: lighter;
}
.right p {
  font-size: 16px;
  margin: 18px 0;
  line-height: 25px;
}

/* mission statement section - green background  */

.mission-section-grid {
  display: grid;
  grid-template-columns: 2 (1fr);
  grid-template-rows: 1;
}

.mission-section {
  font-size: 18px;
  background: #205237;
  align-items: center;
  justify-content: center;
  padding: 5%;
  color: #fafafa;
}
.mission-section-image {
  position: relative;
}
.mission-section-image video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}
/* alignment for 4 divs in a square */
.row1 {
  display: flex;
  width: 100%;
}

.row1 div {
  width: 50%;
}

.noMargin {
  margin: 0px;
}

/* goal section - beige background */
.goal-section {
  font-size: 18px;
  background: #f9f9f1;
  align-items: center;
  justify-content: center;
  padding: 5%;
  color: black;
}
.goal-section-image {
  position: relative;
}
.goal-section-image video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}
/** GETINVOLVED.HTML PAGE **/
/**                      **/
/**                     **/

/* top section - how can i get involved? */
.get-involved-info {
  font-size: 16px;
  background: #205237;
  text-align: center;
  padding: 1% 10%;
  color: #fafafa;
}

/* community garden div */
.garden-section {
  font-size: 16px;
  background: #f9f9f1;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 2% 10%;
  color: black;
}
/* 3 circles for sponser garden  */
.circle-section {
  padding: 48px 0;
  background: #205237;
}

.circle-container {
  width: 250px * 3;
  margin: 0 auto;
  overflow: hidden;
}

/* circles paragraph text */
.circles p {
  font-size: 18px;
  color: #fafafa;
  font-weight: 500;
  line-height: 25px;
  padding: 1em;
}

.inline {
  list-style: none;
  margin: 0;
  padding: 0;
}
.circle-list {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 200px;
}
/* number 1-2-3 styling inside circles */
.circled {
  display: block;
  text-decoration: none;
  background-color: #f9f9f1;
  width: 120px;
  margin: 0 auto 2em;
  padding: 0;
  height: 120px;
  line-height: 120px;
  text-align: center;
  font-size: 28px;
  border-radius: 100%;
  color: black;
  font-family: "Raleway", sans-serif;
}

/* garden location h1 heading */
.garden-heading {
  font-family: GlacialIndifference;
  background: #f9f9f1;
  text-align: center;
  padding-top: 10px;
}

/* sponser garden h1 heading */
.garden-heading2 {
  padding-top: 20px;
  font-family: GlacialIndifference;
  color: #fafafa;
  background: #205237;
  text-align: center;
}

/* community garden locations table styling */
#community-gardens {
  font-size: 16px;
  border-collapse: collapse;
  width: 100%;
}

#community-gardens td,
#community-gardens th {
  border: 4px solid #ddd;
  padding: 8px;
  font-family: "Raleway", sans-serif;
}

#community-gardens tr:nth-child(even) {
  background-color: #fff;
}

#community-gardens tr:hover {
  background-color: #ddd;
}

#community-gardens th {
  text-align: left;
  background-color: #205237;
  color: white;
}

/* contact form  */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: "Raleway", sans-serif;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

label {
  float: left;
  font-family: "Raleway", sans-serif;
}

.contact-container {
  border-radius: 5px;
  background-color: #f9f9f1;
  padding: 20px;
}

/** RESOURCES.HTML PAGE **/
/**                    **/
/**                   **/

.green-section {
  font-size: 14px;
  background: #205237;
  align-items: center;
  justify-content: center;
  padding: 2% 20%;
  color: #fafafa;
}

.article-section {
  font-size: 14px;
  background: #f9f9f1;
  text-align: center;
  padding: 2% 20%;
  color: black;
}

/* article cards styling */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 30px;
}

.card {
  border: 1px solid black;
  display: grid;
  grid-template-rows: max-content 200px 1fr;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* info link button styling */
.resource:link,
.resource:visited {
  background-color: white;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.resource:hover,
.resource:active {
  background-color: #f7941e;
  color: black;
}

.r-heading {
  text-align: center;
  padding-bottom: 30px;
  font-size: 40px;
}
/* resource div styling */
.r-info {
  float: left;
  width: 50%;
  padding: 20px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* resources info paragraph text */
.r-info p {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  line-height: 1.4em;
  padding: 0px;
  padding-bottom: 20px;
  margin: 5px auto;
}

/* horizontal line break styling */
hr {
  width: 70%;
  height: 2px;
  background-color: #cccccc;
  color: #cccccc;
  border: 0 none;
}

/** GALLERY.HTML PAGE **/
/**                  **/
/**                 **/

.beige-section {
  font-size: 18px;
  background-color: #f9f9f1;
  padding: 5% 5% 5% 5%;
  color: black;
}

.featuredImg {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 1;
  padding: 10px 0px 100px;
  grid-gap: 5% 10%;
  text-align: left;
}

/* image gallery */

.img-grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%; /*number of columns*/
  grid-template-rows: repeat(3, 1fr); /*number of rows*/
  padding: 10px; /*space between the border of the grid and the page*/
  grid-gap: 10px; /*space between different grid components*/
}

.gallery {
  /*affects images in image gallery*/
  padding: 10px;
  cursor: pointer;
}

/* gallery slideshow */

.mySlides {
  display: none;
}
img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.number-text {
  color: #fafafa;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/** FOOTER **/
/**        **/
/**        **/
.logo {
  height: 150px;
  width: 150px;
  padding: 5px;
  margin: 0 10px;
  float: left;
}

footer {
  position: relative;
  left: 0%;
  bottom: 0%;
  width: 100%;
  padding-top: 20px;
  text-align: center;
  background-color: white;
  border-top: 2px solid #205237;
}

footer h4 {
  font-weight: bold;
  font-size: 20px;
  font-family: GlacialIndifference;
  text-align: left;
}

footer p {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer a {
  font-size: 14px;
}

.footer-grid {
  display: grid;
  grid-template-columns: auto 20% 20%; /*number of columns*/
  grid-template-rows: repeat(2, 1fr); /*number of rows*/
  background-color: #fff; /*background color white*/
  padding: 10px; /*space between the border of the grid and the page*/
  grid-gap: 10px; /*space between different grid components*/
  font-family: "Arial", "Verdana"; /*font, obviously*/
  color: #205237; /*text color*/
}

.footer-grid-item {
  padding: 10px; /*space between elements inside of the grid and the border of the grid*/
}

.item1 {
  grid-column: span 1;
  grid-row: span 1;
  text-align: left;
}

.item2 {
  grid-column: span 1;
  grid-row: span 1;
  text-align: left;
}

.item3 {
  grid-column: span 1;
  grid-row: span 1;
  text-align: left;
}

.item4 {
  border-top: 1px solid #205237;
  grid-column: span 4;
  grid-row: span 2;
  text-align: center;
  padding-top: 30px;
}

/*contact styling*/
.container {
  padding: 10px;
}

/* social icons styling*/

.footer-social ul {
  padding: 0;
  padding-bottom: 10px;
  margin: 0 0 0 10px;
}

.footer-social li {
  display: inline;
  list-style: none;
  margin-left: 5px;
}
/* social icon styling - can be circle or more square in appearance */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  margin: 5px 2px;
  border-radius: 20%;
}
/* social icon hover */
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #10291c;
  color: white;
}

.fa-instagram {
  background: #1f4e35;
  color: white;
}

.fa-youtube {
  background: #2d724d;
  color: white;
}

.fa-twitter {
  background: #3c9766;
  color: white;
}

/* MEDIA QUERIES */
/*               */
/*               */

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
  }
  .left {
    width: 100%;
    height: 400px;
  }
  .right {
    width: 90%;
    margin: 0;
    margin-top: -100px;
  }
  .logonav {
    height: 75px;
    width: 75px;
  }
  nav ul li a {
    width: 100%;
    display: inline-block;
  }
}
@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
  .column {
    width: 100%;
  }
  .goal-section,
  .mission-section,
  .right p {
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }
}
/* On smaller screens, decrease text size in gallery*/
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .caption-text {
    font-size: 11px;
  }
  .goal-section,
  .mission-section,
  .right p {
    font-size: 11px;
  }
}

/**   KEYFRAMES   **/
/**               **/
/**               **/

/* Keyframes for hover [stroke/fill] animation on nav bar links */
/* chrome & safari */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #205237;
  }
}
/* firefox */
@-moz-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #205237;
  }
}
/* opera */
@-o-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #205237;
  }
}
/* internet explorer */
@-ms-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #205237;
  }
}
/* css3 */
@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #205237;
  }
}

/* Fading animation in between pictures for gallery */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
/* chrome & safar */
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* css3 */
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* internet explorer */
@-ms-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*opera */
@-o-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* firefox */
@-moz-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
